.BR {}
.P { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-variant: inherit; font-size: 100%; vertical-align: baseline; 
 font-weight: 300; position: relative; z-index: 2; width: 80%; padding: 0px 10%; 
 padding: 10px 0px; overflow: hidden; font-weight: 300; 
}
.H3 { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-variant: inherit; font-size: 100%; vertical-align: baseline; 
 font-size: 18px; margin: 30px 0px 10px; 
 font-size: 20px; font-weight: bold; margin: 40px 0px 15px; position: relative; 
}
.teaserbox { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-variant: inherit; font-size: 100%; vertical-align: baseline; 
 border-radius: 50%; width: 280px; height: 280px; float: left; background: white none repeat scroll 0% 0%; margin-right: 60px; text-align: center; overflow: hidden; position: relative; 
}
.STRONG { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-variant: inherit; font-size: 100%; vertical-align: baseline; 
 font-weight: bold; 
 font-family: "Lato-Bold",sans-serif; font-weight: 400; 
}
